* {
  font-family: "Maven Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: flex-start;
}

.btn {
  margin-bottom: 10%;
  width: 100%;
}

.row {
  max-width: 320px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 10%;
}

h1 {
  color: #fff;
  text-align: center;
}

input {
  width: 300px;
  margin: 20px 10px;
}

label {
  color: #fff;
}

.text-muted {
  display: block;
  text-align: right;
}
/* The alert message box */
.alert {
  display: none;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

@media screen and (max-width: 320px) {
}
